In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = "/content/drive/MyDrive/Project Dataset (1).csv"
disaster = pd.read_csv(path)

In [4]:
disaster.head()

   id keyword  ...                                               text target
0   0  ablaze  ...  Communal violence in Bhainsa, Telangana. "Ston...      1
1   1  ablaze  ...  Telangana: Section 144 has been imposed in Bha...      1
2   2  ablaze  ...  Arsonist sets cars ablaze at dealership https:...      1
3   3  ablaze  ...  Arsonist sets cars ablaze at dealership https:...      1
4   4  ablaze  ...  "Lord Jesus, your love brings freedom and pard...      0

[5 rows x 5 columns]

In [5]:
# Loading required features
disaster = disaster[['text','target']]
disaster.head()

                                                text  target
0  Communal violence in Bhainsa, Telangana. "Ston...       1
1  Telangana: Section 144 has been imposed in Bha...       1
2  Arsonist sets cars ablaze at dealership https:...       1
3  Arsonist sets cars ablaze at dealership https:...       1
4  "Lord Jesus, your love brings freedom and pard...       0

In [6]:
# Checking the Null Values
disaster.isna().sum()

text      0
target    0
dtype: int64

In [7]:
# Checking the DF size
disaster.shape

(11370, 2)

In [8]:
# Lets see how Target Values labled
disaster['target'].value_counts()

0    9256
1    2114
Name: target, dtype: int64

In [9]:
disaster['text'] = [entry.lower() for entry in disaster['text']]
disaster['text'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    communal violence in bhainsa, telangana. "ston...
1    telangana: section 144 has been imposed in bha...
2    arsonist sets cars ablaze at dealership https:...
3    arsonist sets cars ablaze at dealership https:...
4    "lord jesus, your love brings freedom and pard...
Name: text, dtype: object

In [10]:
import nltk
from nltk.tokenize import word_tokenize

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [12]:
disaster['text'] = [word_tokenize(entry) for entry in disaster['text']]

In [13]:
disaster['text'].head()

0    [communal, violence, in, bhainsa, ,, telangana...
1    [telangana, :, section, 144, has, been, impose...
2    [arsonist, sets, cars, ablaze, at, dealership,...
3    [arsonist, sets, cars, ablaze, at, dealership,...
4    [``, lord, jesus, ,, your, love, brings, freed...
Name: text, dtype: object

In [14]:
disaster['text'].head()

0    [communal, violence, in, bhainsa, ,, telangana...
1    [telangana, :, section, 144, has, been, impose...
2    [arsonist, sets, cars, ablaze, at, dealership,...
3    [arsonist, sets, cars, ablaze, at, dealership,...
4    [``, lord, jesus, ,, your, love, brings, freed...
Name: text, dtype: object

In [15]:
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from collections import defaultdict
from nltk.corpus import wordnet as wn
from nltk.corpus import wordnet

In [16]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [17]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [18]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [19]:
tag_map = defaultdict(lambda : wn.NOUN)
tag_map['j'] = wn.ADJ
tag_map['v'] = wn.VERB
tag_map['v'] = wn.ADV

In [20]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
stop_words = set(stopwords.words("english"))
print(stop_words)

{'it', 'between', 'on', 'be', 'further', 'yourself', 'after', "it's", "didn't", 'these', 'was', 'didn', 'were', 'can', 'them', "you'll", 'd', 'y', 'under', 'will', 'its', 'whom', 'again', 'just', 'they', 'with', 'shouldn', 'a', "should've", 'wouldn', 'off', 'when', "won't", 'do', 'needn', 'that', 'aren', 'until', 'before', 'having', 'we', "you're", 'but', 'out', 'other', 'the', 'being', 'nor', 'o', 'so', 'same', 'each', 'only', 'her', 'such', 'is', 'from', 'there', "couldn't", 'up', 'haven', 'm', 'themselves', 'me', 'had', 'not', 'who', "hasn't", 'isn', 'an', 'him', 'to', 's', 'ma', 'yourselves', 'mightn', 'are', 'of', "doesn't", 'for', "wouldn't", 'theirs', 'did', "she's", 'hadn', 'above', "mightn't", 'about', 'his', 'at', 'by', 'their', 'my', 'once', 'very', 'and', 'ours', 've', "don't", 'myself', 'itself', 'your', 'all', 'some', 'hasn', 'don', 'been', "needn't", 'i', 'now', 'through', "that'll", 'does', 'which', 'herself', 'should', 'she', 'doesn', 'shan', 'below', "weren't", 'down', "shan't", 'wasn', 'too', "hadn't", "shouldn't", 'll', 'those', 'while', 'any', 'than', 'our', 'few', 'as', 'during', "wasn't", 'have', 'what', "you've", 'won', 'or', "isn't", 'into', 'no', 't', 'weren', 'has', 'he', 'against', 'how', 'ain', "you'd", 'here', 'why', 're', 'most', 'both', 'couldn', 'hers', 'am', "haven't", "mustn't", 'doing', 'then', 'ourselves', 'because', 'mustn', 'you', 'own', 'yours', 'if', 'in', 'over', 'himself', 'this', "aren't", 'where', 'more'}

In [22]:
for index,entry in enumerate(disaster['text']):
    Final_words = []
    word_lemmstized = WordNetLemmatizer()
    for word,tag in pos_tag(entry):
        if word not in stopwords.words('english') and word.isalpha():
            word_final = word_lemmstized.lemmatize(word,tag_map[tag[0]])
            Final_words.append(word_final)
    disaster.loc[index,'text_final'] = str(Final_words)

In [23]:
disaster.head()

                                                text  ...                                         text_final
0  [communal, violence, in, bhainsa, ,, telangana...  ...  ['communal', 'violence', 'bhainsa', 'telangana...
1  [telangana, :, section, 144, has, been, impose...  ...  ['telangana', 'section', 'imposed', 'bhainsa',...
2  [arsonist, sets, cars, ablaze, at, dealership,...  ...  ['arsonist', 'set', 'car', 'ablaze', 'dealersh...
3  [arsonist, sets, cars, ablaze, at, dealership,...  ...  ['arsonist', 'set', 'car', 'ablaze', 'dealersh...
4  [``, lord, jesus, ,, your, love, brings, freed...  ...  ['lord', 'jesus', 'love', 'brings', 'freedom',...

[5 rows x 3 columns]

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection,naive_bayes
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [25]:
Train_X,Test_X,Train_Y,Test_Y = model_selection.train_test_split(disaster['text_final'],disaster['target'],test_size = 0.3)
encoder = LabelEncoder()
Train_Y = encoder.fit_transform(Train_Y)
Test_Y = encoder.fit_transform(Test_Y)

In [26]:
y = Train_Y.tolist()

In [27]:
Tfidf_vect = TfidfVectorizer(max_features = 5000)
Tfidf_vect.fit(disaster['text_final'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

In [28]:
data = Train_X_Tfidf.toarray()

In [29]:
data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [30]:
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from tensorflow.keras.utils import to_categorical
from keras.callbacks import EarlyStopping
%matplotlib inline

In [31]:
Train_X,Test_X,Train_Y,Test_Y = model_selection.train_test_split(disaster['text_final'],disaster['target'],test_size = 0.3)
encoder = LabelEncoder()
Train_Y = encoder.fit_transform(Train_Y)
Test_Y = encoder.fit_transform(Test_Y)

Tfidf_vect = TfidfVectorizer(max_features = 5000)
Tfidf_vect.fit(disaster['text_final'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(Train_X)
sequences = tok.texts_to_sequences(Train_X)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [32]:
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [33]:
model = RNN()
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

In [34]:
model.fit(sequences_matrix,Train_Y,batch_size=128,epochs=20,validation_split=0.2,callbacks=[EarlyStopping(monitor='val_loss',min_delta=0.0001)])

Epoch 1/20
50/50 [==============================] - 15s 245ms/step - loss: 0.4714 - accuracy: 0.8098 - val_loss: 0.4200 - val_accuracy: 0.8116
Epoch 2/20
50/50 [==============================] - 10s 196ms/step - loss: 0.3325 - accuracy: 0.8656 - val_loss: 0.3264 - val_accuracy: 0.8681

In [35]:
test_sequences = tok.texts_to_sequences(Test_X)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [36]:
accr = model.evaluate(test_sequences_matrix,Test_Y)

107/107 [==============================] - 2s 22ms/step - loss: 0.3253 - accuracy: 0.8716

In [37]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
  Loss: 0.325
  Accuracy: 0.872

In [38]:
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(70)(layer)
    layer = Dense(406,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.2)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [39]:
model = RNN()
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding_1 (Embedding)     (None, 150, 50)           50000

 lstm_1 (LSTM)               (None, 70)                33880

 FC1 (Dense)                 (None, 406)               28826

 activation_2 (Activation)   (None, 406)               0

 dropout_1 (Dropout)         (None, 406)               0

 out_layer (Dense)           (None, 1)                 407

 activation_3 (Activation)   (None, 1)                 0

=================================================================
Total params: 113,113
Trainable params: 113,113
Non-trainable params: 0
_________________________________________________________________

In [40]:
model.fit(sequences_matrix,Train_Y,batch_size=128,epochs=20,validation_split=0.2,callbacks=[EarlyStopping(monitor='val_loss',min_delta=0.0001)])

Epoch 1/20
50/50 [==============================] - 14s 237ms/step - loss: 0.4522 - accuracy: 0.8142 - val_loss: 0.3730 - val_accuracy: 0.8348
Epoch 2/20
50/50 [==============================] - 11s 225ms/step - loss: 0.3131 - accuracy: 0.8756 - val_loss: 0.3308 - val_accuracy: 0.8649

In [41]:
test_sequences = tok.texts_to_sequences(Test_X)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [42]:
accr = model.evaluate(test_sequences_matrix,Test_Y)

107/107 [==============================] - 3s 24ms/step - loss: 0.3376 - accuracy: 0.8590

In [43]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
  Loss: 0.338
  Accuracy: 0.859